body {
    font-family: 'Inter';
    font-style: normal;
    background: #F6F7F8;
}

.rotation {
    transform: rotate(8deg);
    transition: all 225ms ease-in-out;
}

.reset-rotation {
    transform: rotate(0deg);
    transition: all 225ms ease-in-out;
}

.border-dotted {
    border: 3px dotted rgba(201, 202, 202, 0.3);
}

.d-none {
    display: none !important;
}

.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-board-container {
    padding-left: 232px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main-headline-container {
    width: 90%;
    height: 30vh;
    left: 267px;
    top: 57px;
    background: #F6F7F8;
}

.headline-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 73px;
    margin-top: 91px;
}

.navbar {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 467px;
    height: 51px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 176px;
    height: 73px;
}

.headline h2 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

.search-task input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 226px;
    height: 31px;
    border: none;
    outline: none;
}

.search-task::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 100px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.search-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    box-sizing: unset;
}

.search-btn {
    box-sizing: unset;
}

.search-img {
    border-left: 2px solid lightgrey;
    padding-left: 6px;
    cursor: pointer;
}

.add-task-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    transition: all 225ms ease-in-out;
}

.add-task-button:hover {
    background: #29ABE2;
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0, 0.3);
    border: none;
}

.add-img-straight {
    position: absolute;
    width: 0px;
    height: 15px;
    left: 119.5px;
    top: 18px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.add-img-up {
    position: absolute;
    width: 0px;
    height: 15px;
    left: 119.5px;
    top: 18px;
    border: 1px solid #FFFFFF;
}

.main-tasks-container {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 90%;
    height: 57vh;
    justify-content: space-between;
    margin-top: -130px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.main-solo-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 328px;
    height: 100%;
}

.main-task-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.headline-tasks {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 135px;
}

.headline-task {
    width: 310px;
    display: flex;
    justify-content: space-between;
}

.headline-task h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.add-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
}

.add-image:hover {
    filter: invert(55%) sepia(66%) saturate(468%) hue-rotate(153deg) brightness(90%) contrast(109%);
    cursor: pointer;
}

.main-task-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 18px 19px;
    gap: 10px;
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.headline-solo-task {
    display: flex;
    padding: 4px 25px;
    gap: 10px;
    width: 125px;
    height: 27px;
    border-radius: 8px;
    justify-content: center;
}

.headline-solo-task h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.task-title span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

.task-description {
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.task-description span {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.workers-prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.solo-worker {
    display: flex;
}

.worker-name-start-letters {
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
    color: white;
    margin-left: -10px;
}

.main-add-task-container {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-subcontainer {
    height: 87vh;
    width: 60vw;
    background: #2a3647;
    border-radius: 30px;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.close-add-task {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.close-add-task img {
    filter: brightness(0) invert(1);
}

.main-big-box-task-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    width: 623px;
    height: 700px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
}

.big-box-task-headline {
    padding: 4px 36.5px;
    gap: 10px;
    background-color: lightgray;
    width: 150px;
    height: 40px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.big-box-task-headline h4 {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
}

.big-box-task-title {
    padding: 0px;
    gap: 1px;
    width: 523px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.big-box-task-title h2 {
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #2A3647;
}

.big-box-task-description span {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.big-box-task-date {
    padding: 0px;
    gap: 25px;
    width: 270px;
    height: 25px;
}

.big-box-task-date table tr td:first-child {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    width: 105px;
    height: 25px;
}

.big-box-task-date table tr td:last-child {
    width: 150px;
    height: 25px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.big-box-task-prio {
    padding: 0px;
    gap: 25px;
    width: 270px;
    height: 33px;
}

.big-box-task-prio table tr td:first-child {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    width: 82px;
    height: 25px;
    padding-right: 8px;
}

.big-box-task-prio table tr td:last-child {
    padding: 4px 18px;
    gap: 10px;
    width: 131px;
    height: 33px;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: white;
}

.assigned-to-headline h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.close-big-box-task {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.edit-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    height: 57px;
    width: 57px;
    background: #2a3647;
    border-radius: 18px;
    transition: all 225ms ease-in-out;
}

.big-box-tasks-container-full-size {
    position: absolute;
    left: 40%;
    top: 15%;
}

.empty-space {
    width: 250px;
    min-height: 239px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 2px dotted black;
}

.main-edit-container {
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.main-edit-container h3 {
    font-size: 20px;
}

.edit-container-inputstyle {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
    margin-bottom: 12px;
    caret-color: transparent;
}

.edit-prio-subcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-headline input::placeholder {
    padding-left: 12px;
    color: black;
    font-size: 20px;
    caret-color: transparent;
}

.edit-description textarea {
    height: 120px;
    width: 100%;
    border-radius: 8px;
    border-color: lightgray;
    caret-color: transparent;
    outline: none;
}

.edit-description textarea::placeholder {
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    font-size: 20px;
    height: 100%;
    width: 80%;
}

.edit-date input {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}

.edit-prio {
    margin-bottom: 12px;
}

.edit-prioclass {
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 8px;
    width: 125px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.edit-prioclass:hover{
    cursor: pointer;
    box-shadow: 0px 5px 7px 0px rgb(0 0 0 / 40%);
    transition: all 225ms ease-in-out;
}

.edit-prioclass img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.close-edit-container {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.change-edit-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px;
    width: 70px;
    height: 50px;
    background: #2a3647;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.change-edit-button div {
    font-weight: bold;
}

.change-edit-button:hover {
    background: #0190E0 !important;
}

.change-edit-button img {
    object-fit: cover;
    height: 17px;
    width: 17px;
}

.urgent-prio {
    background: #ff3d00;
    color: white;
    font-weight: bold;
    transition: all 225ms ease-in-out;
}

.medium-prio {
    background: #ffa800;
    color: white;
    font-weight: bold;
    transition: all 225ms ease-in-out;
}

.low-prio {
    background: #7ae229;
    color: white;
    font-weight: bold;
    transition: all 225ms ease-in-out;
}

.edit-assignedTo select{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
}

.edit-assignedTo select{
    padding-left: 12px;
    font-size: 20px;
}

.edit-assignedTo-subcontainer{
    width: 100%;
    height: 45px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    overflow-y: scroll;
}

.edit-assignedTo-subcontainer div:first-child{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.solo-contact{
    width: 100%;
    height: 45px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    color: black;
}

.solo-contact:hover{
    background-color: lightgray;
}

.edit-workers{
    width: 100%;
}

.edit-assign-full-size{
    height: 170px;
}

.edit-assign-img-rotate{
    transform: rotate(180deg);
}

.edit-assign-colum{
    flex-direction: column !important;
}

.placeholder-grey{
    color: black;
}

.succes-alert{
    background: #00c851;
    color: white;
    height: 50px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 95px;
    border-radius: 12px;
    padding: 8px;
    transition: all 500ms ease-in-out;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}