html {
  scroll-behavior: smooth; 
}

body {
  margin: 0px; 
  font-family: "Inter"; 
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
}

.contacts-container {
  position: absolute;
  width: 453px;
  height:100%;
  left: 232px;
  top: 80px;
  background: #ffffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contacts-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - -685px);
    height: 100vh;
}


@media (min-width: 800px) and (max-width: 1400px) {
}

@media (min-width: 400px) and (max-width: 800px) {
}

@media (min-width: 270px) and (max-width: 400px) {
}

