html {
    scroll-behavior: smooth;  /* Standard */
}

body {
    margin: 0px;             /* Browser-Standard rückgängig machen: Äußerer Abstand */
    font-family: "Inter";   /* Schriftart für den ganzen Body-Bereich festlegen */
    overflow-x: hidden;     /* Standard: Was auf der X-Achse aus dem Body/Tag rausläuft wird nicht mehr gezeigt */
                           /* muss dem Body gegeben werden, ABER funktioniert nicht auf dem Handy -> Lösung: Alles in eine <div> was in <body> ist und diesem <div> das overflow-Attribut geben */           
    display:flex;
    flex-direction:column;    
    }

/* LOGIN */

.login-Container{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#F5F5F5; 
    width:100vw;
    height:100vh;
}

.login-Box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index:0;

    height: 513px;
    width: 652px;
}

.moving-logo{
    position:absolute;
    left:50px;
    top:25px;
    width:101px;
    height:122px;
}

.moving-logo-first{
    position:absolute;   
    left:calc(100vw - 50% - 101px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Breite des Bildes abgezogen werden */
    top:calc(100vh - 50% - 122px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Höhe des Bildes abgezogen werden */
    width:202px;
    height: 244px;
}

.login-Box h1{
font-size:61px; 
font-weight: bold;
padding-bottom:20px;
margin-bottom:0;
}

.login-inputdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:51px;
    width:422px;
    margin-bottom:50px; 

    border: 1px solid #D1D1D1;
    border-radius:10px;  
}

.login-inputdesign:hover{
 cursor:pointer;
}
.login-inputdesign input:hover{
 cursor:pointer;
}

.login-inputdesign input{
    border: none;
    font-size:21px;
    outline: none;
    padding-left:15px;
    height: 49px;
    border-radius: 30px;
}

::placeholder{
   color: #D1D1D1; 
}

.login-inputdesign img{
    margin-right:15px; 
}

.login-rememberOrforgotPw{
    display:flex;
    justify-content: space-between;
    font-size:16px;
    margin-top:0;
    margin-bottom:12.5px;
    width: calc(161px * 2 + 12.5px * 2);
}

.login-cbx input{
        margin-right: 20px;
        height: 16px;
        width: 16px;  
}

.login-cbx{
        display: flex;
        align-items: center;
}

.login-forgotpw {
    padding-right: 5px;
}

.login-buttons{
    margin:12.5px;
    margin-bottom:0 !important;
}

.login-rememberOrforgotPw a{
    color: #29ABE2 !important;
    cursor:pointer;
}

.login-user{
    height: 51px;
    width: 161px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931; 
}

.login-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

.login-guest{
    height: 51px;
    width: 161px;
    font-size:21px;
    border-radius:8px;
    background-color:#FFFFFF;
    color:#091931;
    font-weight: bold;
    border: 1px solid #091931;
    margin-left:12.5px; 
}

.login-guest:hover{
    color: #29ABE2;
    border-color:#29ABE2;
}

.login-notajoinuser{
    position:absolute;
    right:50px;
    top:50px;    
}

.login-notajoinuser span{
    font-size:21px;  
    margin-right: 25px;
}

.login-signupbtn{
    height: 51px;
    width: 91px;
    font-size:19px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold;
    background-color: #091931;
    border: 1px solid #091931; 
}

.login-signupbtn:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* Login-Animation */
.animate-logo{
    animation: moveJOINLogo 325ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes moveJOINLogo {
from
{ 
    position:absolute;
    z-index:11;
    left:calc(100vw - 50% - 101px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Breite des Bildes abgezogen werden */
    top:calc(100vh - 50% - 122px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Höhe des Bildes abgezogen werden */
    width:202px;
    height: 244px;
}  
to 
{
    position:absolute;
    z-index:11;
    left:50px;
    top:25px;
    width:101px;
    height:122px;
}
}  
/* Login-Animation */

/* SIGN UP */
.signup-Box{
    position:absolute;
    z-index:1;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 559px;
    width: 652px;
}

.signup-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:20px;
    margin-bottom:0; 
    }

.signup-backbutton{
    display: flex;
    position:absolute;
    left: 40px;
    top: 40px;
    cursor:pointer;
}

.signup-inputdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:51px;
    width:422px;
    margin-bottom:50px; 

    border: 1px solid #D1D1D1;
    border-radius:10px;  
}

.signup-inputdesign:hover{
 cursor:pointer;
}
.signup-inputdesign input:hover{
 cursor:pointer;
}

.signup-inputdesign input{
    border: none;
    font-size:21px;
    outline: none;
    padding-left:15px;
    height: 49px;
    border-radius: 30px;
}

.signup-inputdesign img{
    margin-right:15px; 
}

.signup-user{
    height: 51px;
    width: 145px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    background-color: #091931;
    border: 1px solid #091931; 
}

.signup-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* RESET PASSWORD */
.resetpassword-Box{
    position:absolute;
    z-index:2;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 537px;
    width: 826px;
}

.resetpassword-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:15px; 
    margin-bottom:0;
}

.resetpassword-Box span{
    font-size:21px;
    margin-top:0; 
    margin-bottom:25px; 
    margin-left:25px; 
    margin-right:25px; 
}

.resetpassword-inputdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:51px;
    width:422px;
    margin-bottom:50px; 

    border: 1px solid #D1D1D1;
    border-radius:10px;  
}

.resetpassword-inputdesign:hover{
 cursor:pointer;
}
.resetpassword-inputdesign input:hover{
 cursor:pointer;
}

.resetpassword-inputdesign input{
    border: none;
    font-size:21px;
    outline: none;
    padding-left:15px;
    height: 49px;
    border-radius: 30px;
}

.resetpassword-inputdesign img{
    margin-right:15px; 
}

.reset-user{
    height: 51px;
    width: 264px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    background-color: #091931;
    border: 1px solid #091931; 
}

.reset-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* FORGOT PASSWORD */
.forgotpassword-Box{
    position:absolute;
    z-index:3;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 513px;
    width: 826px;
}

.forgotpassword-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:15px; 
    margin-bottom:0;
}

.forgotpassword-Box span{
    font-size:21px;
    margin-top:0; 
    margin-bottom:25px; 
    margin-left:83px; 
    margin-right:83px; 
    text-align:center;
}

.forgotpassword-inputdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:51px;
    width:422px;
    margin-bottom:50px; 

    border: 1px solid #D1D1D1;
    border-radius:10px;  
}

.forgotpassword-inputdesign:hover{
 cursor:pointer;
}
.forgotpassword-inputdesign input:hover{
 cursor:pointer;
}

.forgotpassword-inputdesign input{
    border: none;
    font-size:21px;
    outline: none;
    padding-left:15px;
    height: 49px;
    border-radius: 30px;
}

.forgotpassword-inputdesign img{
    margin-right:15px; 
}

.forgotpassword-send{
    height: 51px;
    width: 264px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931;
}

.forgotpassword-send:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2;   
}

/* INTERVALLE FÜRS HANDY */
@media (min-width:301px) and (max-width:1400px) {
}

@media (min-width:400px) and (max-width:800px) {
}

@media (min-width:215px) and (max-width:300px) {
}

@media (min-width:299px) and (max-width:0px) {   /* Ab hier leer lassen */
}
