html {
    scroll-behavior: smooth;  /* Standard */
}

body {
    margin: 0px;             /* Browser-Standard rückgängig machen: Äußerer Abstand */
    font-family: "Inter";   /* Schriftart für den ganzen Body-Bereich festlegen */
    overflow-x: hidden;     /* Standard: Was auf der X-Achse aus dem Body/Tag rausläuft wird nicht mehr gezeigt */
                           /* muss dem Body gegeben werden, ABER funktioniert nicht auf dem Handy -> Lösung: Alles in eine <div> was in <body> ist und diesem <div> das overflow-Attribut geben */           
    overflow-y: hidden;
    background-color: #F5F5F5;

    display:flex;
    flex-direction:column;    
    }

/* FORM */    
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dummy{
    width:160px;
    height:35px;
    border-top: 3px solid #29abe2;
}

::placeholder{
    color: #D1D1D1; 
 }

 .center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

 .formular-inputdesign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:51px;
    width:422px;
    margin-bottom:50px;

    border: 1px solid #D1D1D1;
    border-radius:10px;  
}

.formular-inputdesign input{
    border: none;
    font-size:21px;
    outline: none;
    padding-left:15px;
    height: 48px;
    border-radius: 30px;
    width:100%; 
}

.formular-inputdesign:hover{
 cursor:pointer;
}

.formular-inputdesign input:hover{
 cursor:pointer;
}

.formular-inputdesign img{
    margin-right:15px; 
}

.d-none{
    display:none;
}

/* LOGIN */
.login-container{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#F5F5F5;
    height: 100vh; 
}

.login-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
}

.login-Box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 513px;
    width: 652px;
}

.moving-logo{
    position:absolute;
    left:50px;
    top:25px;
    width:101px;
    height:122px;
}

.moving-logo-first{
    position:absolute;
    z-index:11;   
    left:calc(100vw - 50% - 101px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Breite des Bildes abgezogen werden */
    top:calc(100vh - 50% - 122px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Höhe des Bildes abgezogen werden */
    width:202px;
    height: 244px;
}

.moving-logo-later{
    position:absolute;
    z-index:11;   
    left:50px;
    top:25px;
    width:101px;
    height:122px;
}

.login-Box h1{
font-size:61px; 
font-weight: bold;
padding-bottom:20px;
margin-bottom:0;
}

.login-rememberOrforgotPw{
    display:flex;
    justify-content: space-between;
    font-size:16px;
    margin-top:0;
    margin-bottom:12.5px;
    width: calc(161px * 2 + 12.5px * 2);
}

.login-rememberOrforgotPw a{
    color: #29ABE2 !important;
    cursor:pointer;
}

.login-cbx input{
        margin-right: 20px;
        height: 16px;
        width: 16px;  
}

.login-cbx{
        display: flex;
        align-items: center;
}

.login-forgotpw {
    padding-right: 5px;
}

.login-buttons{
    margin:12.5px;
    margin-bottom:0 !important;
}

.login-user{
    height: 51px;
    width: 161px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931; 
}

.login-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

.login-guest{
    height: 51px;
    width: 161px;
    font-size:21px;
    border-radius:8px;
    background-color:#FFFFFF;
    color:#091931;
    font-weight: bold;
    border: 1px solid #091931;
    margin-left:12.5px; 
}

.login-guest:hover{
    color: #29ABE2;
    border-color:#29ABE2;
}

.login-notajoinuser{
    position:absolute;
    right:50px;
    top:50px;    
}

.login-notajoinuser span{
    font-size:21px;  
    margin-right: 25px;
}

.login-signupbtn{
    height: 51px;
    width: 91px;
    font-size:19px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold;
    background-color: #091931;
    border: 1px solid #091931; 
}

.login-signupbtn:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* Login-Animation */
.animate-logo{
    animation: moveJOINLogo 325ms ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes moveJOINLogo {
from
{ 
    left:calc(100vw - 50% - 101px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Breite des Bildes abgezogen werden */
    top:calc(100vh - 50% - 122px); /* Um mittig zu positionieren muss zusätzlich die Hälfte der Höhe des Bildes abgezogen werden */
    width:202px;
    height: 244px;
}  
to 
{
    left:50px;
    top:25px;
    width:101px;
    height:122px;
}
}  
/* Login-Animation */

/* SIGN UP */
.signup-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        height: 100vh;
}

.signup-Box{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 559px;
    width: 652px;
}

.signup-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:20px;
    margin-bottom:0; 
    }

.backbutton{
    display: flex;
    position:absolute;
    left: 40px;
    top: 40px;
    cursor:pointer;
}

.signup-user{
    height: 51px;
    width: 145px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    background-color: #091931;
    border: 1px solid #091931; 
}

.signup-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* RESET PASSWORD */
.resetpassword-Box{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 537px;
    width: 826px;
}

.resetpassword-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:15px; 
    margin-bottom:0;
}

.resetpassword-Box span{
    font-size:21px;
    margin-top:0; 
    margin-bottom:25px; 
    margin-left:25px; 
    margin-right:25px; 
}

.reset-user{
    height: 51px;
    width: 264px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    background-color: #091931;
    border: 1px solid #091931; 
}

.reset-user:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2; 
}

/* ResetPw-Animation */
#reset-info{
    position: absolute;
    top: 100vh;
    left:calc(100% - 50vw - 326px/2);
    z-index:99;
    height: 74px;
    width: 326px;
    font-size:23px;
    border-radius:20px;
    color:#FFFFFF;
    font-weight: 400; 
    background-color: #091931;
    border: 1px solid #091931; 
}

#resetpw-box{
    position:absolute;
    background-color: #091931;
    z-index:100;
    opacity:0.2;
    width:100vw;
    height:100vh;
}

.animate-resetPw{
    animation: resetPwbutton 325ms ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes resetPwbutton {
from
{ 
    top: 100vh;
}  
to 
{
    top: calc(100% - 50vh - 74px/2);
}
}  
/* ResetPw-Animation */


/* FORGOT PASSWORD */
.forgotpassword-Box{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    height: 513px;
    width: 826px;
}

.forgotpassword-Box h1{
    font-size:61px; 
    font-weight: bold;
    padding-bottom:15px; 
    margin-bottom:0;
}

.forgotpassword-Box span{
    font-size:21px;
    margin-top:0; 
    margin-bottom:25px; 
    margin-left:83px; 
    margin-right:83px; 
    text-align:center;
}

.forgotpassword-send{
    height: 51px;
    width: 264px;
    font-size:21px;
    border-radius:8px;
    color:#FFFFFF;
    font-weight: bold; 
    margin-right:12.5px;
    box-shadow: none;
    background-color: #091931;
    border: 1px solid #091931;
}

.forgotpassword-send:hover{
    background-color: #29ABE2;
    border: 1px solid #29ABE2;   
}

/* Wrong PW or EMail-Animation */
#alert-info{
    position: absolute;
    top: 100vh;
    left:calc(100% - 50vw - 326px/2);
    z-index:99;
    height: 74px;
    width: 326px;
    font-size:23px;
    border-radius:20px;
    color:#FFFFFF;
    font-weight: 400; 
    background-color: #091931;
    border: 1px solid #091931; 
}

#alert-info img{
    padding-right:15px;
}

#alert-box{
    position:absolute;
    background-color: #091931;
    z-index:100;
    opacity:0.2;
    width:100vw;
    height:100vh;
}


.animate-Wrong{
    animation: wrongButton 325ms ease-in-out;
    animation-fill-mode:forwards;
}


@keyframes wrongButton {
from
{ 
    top: 100vh;
}  
to 
{
    top: calc(100% - 50vh - 74px/2);
}
}  
/* Wrong PW or EMail-Animation */

/* Keep white background-color for ALL input-fields when autocomplete is activated for a form (<form autocomplete="on">) */
input:-webkit-autofill {
    -webkit-text-fill-color: black ; /* Textfarbe bleibt bei schwarz (könnte man auch rausnehmen) */
    -webkit-box-shadow: inset 0 0 0px 1000px white; /* Input-Feld behält den weißen Hintergrund, statt auf hellblau zu wechseln! */
}

/* INTERVALLE FÜRS HANDY */
@media (min-width:753px) and (max-width:926px) {
    .center-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
    }

    .login-container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        background-color: #F5F5F5;
        height: 100vh; 
    }
    .signup-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F5F5F5;
            height: 100vh;
    }

    .login-notajoinuser {
        position: absolute;
        right: calc(50vw - 140px);
        top: calc(50vh + 257px + 61px + 50px);
    }

    .logo-for-mobile{
        display:flex;
        position:absolute;
        z-index:11;   
        left:50px;
        top:25px;
        width:101px;
        height:122px;     
    }

    .forgotpassword-Box{
        width: calc(100vw - 100px);
    }
    .resetpassword-Box{
        width: calc(100vw - 100px) !important;
    }

}

@media (min-width:300px) and (max-width:752px) {
    
    .center-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
        height:100vh;
    }

    .login-container{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        background-color: #F5F5F5;
        height: 100vh; 
    }
    
    .signup-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
        height: 100vh;
    }

    .login-notajoinuser {
        position: absolute;
        right: calc(50vw - 140px);
        top: calc(50vh + 257px + 61px + 50px);
    }

    .logo-for-mobile{
        display:flex;
        position:absolute;
        z-index:11;   
        left:50px;
        top:25px;
        width:101px;
        height:122px;
    }

    .forgotpassword-Box{
        width: calc(100vw - 100px);
    }
    .resetpassword-Box {
    width: calc(100vw - 100px) !important;
    }

    .login-Box{
        width: calc(100vw - 100px);
    }

    .signup-Box{
        width: calc(100vw - 100px);
    }
}

@media (min-width:299px) and (max-width:0px) {   /* Ab hier leer lassen */
}
