#prio {
  border: none;
  overflow: hidden;
  background-color: #f6f7f8;
}
#prio::-moz-focus-inner {
  border: 0;
}
#prio:focus {
  outline: none;
}
#prio option {
  width: 136px;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  padding: 10px 0;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  border: rgb(204, 204, 0) solid 1px;
  border-radius: 5px;
  color: rgb(204, 204, 0);
}

body {
  font-family: "Inter";
  background-color: #f6f7f8;
}

.add-task-container {
  padding-top: 150px;
  margin-left: 232px;
  padding-right: 40px;
  padding-bottom: 20px;
  width: calc(100vw - 232px);
}

.headline {
  margin-left: 116px;
}

.headline h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #000000;
}

.btn-primary {
  background-color: #2a3647;
  border-color: #2a3647;
}
.add-task-board {
  display: flex;
  width: calc(100vw - 232px);
  padding-left: 116px;
  padding-right: 116px;
  margin-top: 20px;
}

.separator-line {
  width: 0px;
  height: 551px;
  border: 1px solid #d1d1d1;
  margin-left: -60px;
}

.add-task-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100vw - 232px);
}
.input-area {
  width: 422px;
}

.input-area label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
  margin-top: 20px;
}

.input-area h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #000000;
  margin-top: 20px;
}

.input-area input {
  height: 50px;
  width: 422px;
  margin-top: 10px;
}

.input-area select {
  height: 50px;
  width: 422px;
  margin-top: 10px;
}

.input-area textarea {
  width: 422px;
  height: 119px !important;
  max-height: 119px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
