body {
  font-family: PT Sans;
}

.add-task-container {
  width: 100%;
  margin: 20px;
  padding-left: 120px;
  padding-right: 40px;
}

.headline h1 {
  font-weight: bold;
  font-size: 36px;
}

.headline span {
  color: #0000ff;
}

.btn-primary {
  background-color: #0000ff;
}
.addTaskBoard {
  display: flex;
  background-color: #eef0f1;
  width: 100%;
  padding: 30px;
  margin-top: 20px;
}

.addTaskForm {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.inputArea{
  
  width: 50%;
}

.inputArea label {
  color: #0000ff;
  font-size: 16px;
  font-weight: bold;
}

.inputArea h3 {
  color: #0000ff;
  font-size: 16px;
  font-weight: bold;
}

.inputArea input{
  height: 50px;
  width: 90%;;
  margin-top: 10px;
}

.inputArea select{
  height: 50px;
  width: 90%;
  margin-top: 10px;
}

.inputArea textarea{
  width: 90%;
}
