body {
    background: #F6F7F8;
}

.main-board-container {
    padding-left: 232px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-headline-container {
    position: absolute;
    width: 84%;
    height: 327px;
    left: 267px;
    top: 57px;
    background: #F6F7F8;
}

.headline-navbar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    /* gap: 47%; */
    position: absolute;
    width: 95%;
    height: 73px;
    left: 35px;
    top: 91px;

}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 423px;
    height: 51px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    width: 176px;
    height: 73px;
}

.headline h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

.search-task input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 226px;
    height: 31px;
    border: none;
    outline: none;
    background-image: url(./img/board/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 195px;
}

.search-task::placeholder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 13px;
    width: 100px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.search-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    /* icon */
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.add-task-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    transition: all 225ms ease-in-out;
}

.add-task-button:hover {
    background: #29ABE2;
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0, 0.3);
    border: none;
}

.add-img-straight {
    position: absolute;
    width: 0px;
    height: 15px;
    left: 121px;
    top: 18px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.add-img-up {
    position: absolute;
    width: 0px;
    height: 15px;
    left: 119.5px;
    top: 18px;
    border: 1px solid #FFFFFF;
}

.main-tasks-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
    position: absolute;
    width: 90%;
    height: 508px;
    left: 205px;
    top: 343px;
}

.main-solo-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 77px;
    width: 328px;
    height: 100%;
}

.main-task-headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 257px;
    height: 30px;
}

.headline-task h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.add-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
}

.add-image:hover {
    filter: invert(55%) sepia(66%) saturate(468%) hue-rotate(153deg) brightness(90%) contrast(109%);
    cursor: pointer;
}