html {
    scroll-behavior: smooth;  /* Standard */
}

body {
    margin: 0px;             /* Browser-Standard rückgängig machen: Äußerer Abstand */
    font-family: "PT Sans";  /* Schriftart für den ganzen Body-Bereich festlegen */
    overflow-x: hidden;     /* Standard: Was auf der X-Achse aus dem Body/Tag rausläuft wird nicht mehr gezeigt */
                           /* muss dem Body gegeben werden, ABER funktioniert nicht auf dem Handy -> Lösung: Alles in eine <div> was in <body> ist und diesem <div> das overflow-Attribut geben */           
    display:flex;
    flex-direction:column;    
    }

/* CONTACTS*/



/* INTERVALLE FÜRS HANDY */
@media (min-width:301px) and (max-width:1400px) {
}

@media (min-width:400px) and (max-width:800px) {
}

@media (min-width:215px) and (max-width:300px) {
}

@media (min-width:299px) and (max-width:0px) {   /* Ab hier leer lassen */
}



                  










