html {
    scroll-behavior: smooth;  /* Standard */
}

body {
    margin: 0px;             /* Browser-Standard rückgängig machen: Äußerer Abstand */
    font-family: "Inter";   /* Schriftart für den ganzen Body-Bereich festlegen */
    overflow-x: hidden;     /* Standard: Was auf der X-Achse aus dem Body/Tag rausläuft wird nicht mehr gezeigt */
                           /* muss dem Body gegeben werden, ABER funktioniert nicht auf dem Handy -> Lösung: Alles in eine <div> was in <body> ist und diesem <div> das overflow-Attribut geben */           
    display:flex;
    flex-direction:column;    
    }

/* SUMMARY */
.summary-container{
    display:flex;
    flex-direction:column;
    /* background-color:yellow; */
    width: calc(100vw - 120px);  /*Be sure to put spaces around the '-' sign in the calculation*/
    margin-left:150px;  /* Because of the fixed Menu on the left */  
}


/* .backlog-details{
    padding:16px;
    text-align:left;
    width: calc((100vw - 120px - 2*16px  - 13px)/3);  /*Be sure to put spaces around the '-' sign in the calculation*/
/* } */


/* INTERVALLE FÜRS HANDY */
@media (min-width:301px) and (max-width:1400px) {
}

@media (min-width:400px) and (max-width:800px) {
}

@media (min-width:215px) and (max-width:300px) {
}

@media (min-width:299px) and (max-width:0px) {   /* Ab hier leer lassen */
}



                  










