<div class="footer">
  <div class="footer-headline">
    <h1>Kanban Project Management Tool</h1>
  </div>
  <img class="footer-logo" src="img/JOIN-Logo.png" alt="">

  <div class="footer-icons">
    <a href="./help.html"><img id="footer-help" src="img/help-icon.png" alt=""></a>
    <img onclick="showLogoutButton();" id="footer-picture" class="footer-user" src="" alt="">
  </div>

  <div id="logout" class="footer-logout d-none">
    <a href="./help.html" class="footer-links">
      <div class="footer-help">Help</div>
    </a>
    <a href="./legalnotice.html" class="footer-links">
      <div class="footer-legnotice">Legal notice</div>
    </a>
    <div onclick="showLoginForm2();" class="footer-logout2">Log out</div>
  </div>
</div>