<div class="header">

  <img class="logo" src="img/Capa 2.png" alt="">



    <nav class="header-uppersection">

      <a href="summary.html"><img src="img/summary-icon.png" alt="">Summary</a>
      <a href="board.html"><img src="img/board-icon.png" alt="">Board</a>
      <a href="addtask.html"><img src="img/addtask-icon.png" alt="">Add Task</a>
      <a href="contacts.html"><img src="img/contacts-icon.png" alt="">Contacts</a>
    
    </nav>

    <nav>
      <a href="legalnotice.html"><img src="img/legalnotice-icon.png" alt="">Legal notice</a>
    </nav>


</div>