<div class="header">

  <img class="header-logo" src="img/Capa 2.png" alt="">


    <nav class="header-navigation">
       <a id="summary" onclick="sectionSelected('summary')" class="header-summary header-navigation-menupoints" href="./summary2.html"><div class="header-img-container"><img src="img/summary-icon.png" alt=""></div><span>Summary</span></a>
       <a id="board" onclick="sectionSelected('board')" class="header-navigation-menupoints" href="./board.html"><div class="header-img-container"><img src="img/board-icon.png" alt=""></div><span>Board</span></a>
       <a id="addtask" onclick="sectionSelected('addtask')" class="header-navigation-menupoints" href="./addtask.html"><div class="header-img-container"><img src="img/addtask-icon.png" alt=""></div><span>Add Task</span></a>
       <a id="contacts" onclick="sectionSelected('contacts')" class="header-navigation-menupoints" href="./contacts.html"><div class="header-img-container"><img src="img/contacts-icon.png" alt=""></div><span>Contacts</span></a>
       <a id="legalnotice" onclick="sectionSelected('legalnotice')" class="header-legnotice" href="./legalnotice.html"><div class="header-img-container"><img src="img/legalnotice-icon.png" alt=""></div><span>Legal notice</span></a>
    </nav>
    
</div>