<div class="header">

  <img class="header-logo" src="img/Capa 2.png" alt="">


    <nav class="header-navigation">
       <a class="header-summary" href="summary.html"><div class="header-img-container"><img src="img/summary-icon.png" alt=""></div><span>Summary</span></a>
       <a href="board.html"><div class="header-img-container"><img src="img/board-icon.png" alt=""></div><span>Board</span></a>
       <a href="addtask.html"><div class="header-img-container"><img src="img/addtask-icon.png" alt=""></div><span>Add Task</span></a>
       <a href="contacts.html"><div class="header-img-container"><img src="img/contacts-icon.png" alt=""></div><span>Contacts</span></a>
       <a class="header-legnotice" href="legalnotice.html"><div class="header-img-container"><img src="img/legalnotice-icon.png" alt=""></div><span>Legal notice</span></a>
      </nav>
    
  
</div>